#colorContainer {
  display: flex;
  height: 95vh;
  max-height: 95vh;
}

.colorBlock {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

button {
  background: transparent;
  padding: 5px;
  border: 0px;
  cursor: pointer;
}

.blockSecondaryInfo {
  background: transparent;
}

.lightBlock button {
  color: black;
}

.darkBlock button {
  color: white;
}

.lightBlock button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.darkBlock button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.shadeButton {
  width: 100%;
  border-radius: 0;
  height: 200px;
  padding: 0px;
}

.shadeButton:hover {
  background: inherit;
}

.hoverHex {
  color: transparent;
}

.currentShadeIndicator {
  text-transform: capitalize;
}

.lightShade:hover .hoverHex,
.lightShade:focus .hoverHex,
.lightShade:hover .currentShadeIndicator,
.lightShade:focus .currentShadeIndicator {
  color: black;
}

.darkShade:hover .hoverHex,
.darkShade:focus .hoverHex,
.darkShade:hover .currentShadeIndicator,
.darkShade:focus .currentShadeIndicator {
  color: white;
}

.minimalColorContainer {
  display: flex;
  height: 75px;
  width: 100%;
  border-radius: 2%;
  overflow: hidden;
}

.minimal {
  cursor: pointer;
}

.minimal .blockHexCode {
  color: transparent;
  font-weight: bolder;
  background: inherit;
  border: 0px solid;
}

.minimal:hover.darkBlock .blockHexCode,
.minimal:focus.darkBlock .blockHexCode {
  color: white;
}

.minimal:hover.lightBlock .blockHexCode,
.minimal:focus.lightBlock .blockHexCode {
  color: black;
}

.viewModalBtn .viewModalCopyLabel {
  color: transparent;
}

.viewModalBtn:hover .viewModalCopyLabel,
.viewModalBtn:focus .viewModalCopyLabel {
  color: inherit;
  transition: 0.5s;
}
