#colorContainer {
  display: flex;
}

.colorBlock {
  height: 500px;
  width: 100%;
  align-content: center;
  text-align: center;
}

button {
  background: transparent;
  padding: 5px;
  border: 0px;
  border-radius: 10%;
}

.lightBlock button,
.lightBlock button {
  color: black;
}

.darkBlock button,
.darkBlock button {
  color: white;
}

.lightBlock button:hover,
.lightBlock button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.darkBlock button:hover,
.darkBlock button:hover {
  background: rgba(255, 255, 255, 0.1);
}
